.jumbotron {
  padding-top: 6px;
  padding-bottom: 3px;
  margin-bottom:50px;
  color: inherit;
  background-color: #969aaa;
  width: 3000px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}
.maincontent {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom:50px;
  color: inherit;
  background-color: #0000;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  font-size: 15px;
  margin-top: 80px;
  border: 2px solid #52545b;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 10px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #969aaa;
  width: 600px;
  margin-bottom:50px;
}
.centerHobbies  {
  margin-top: 5px;
  margin-left: 22px;
  margin-right: 10px;
  width: 20%;
  border: 5px solid black;
  margin-bottom: 6px;
}
body {
  background: url(https://wallpapertag.com/wallpaper/full/5/3/d/307920-free-download-4k-gaming-wallpaper-3840x2160-for-computer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  float: left;
}
